
<!DOCTYPE html>
  <html lang="en">
  <div align="center">
  <div style= "font-family:sans-serif; background-color:#DCDCDC; color:#00008B">
    <head>
           <title>Teams</title>
    </head>

    <body>
            <h1>INDIANAPOLIS COLTS</h1>
            <p> WINS: 0    •    LOSSES: 2 </p>
      <table>
         <tr>
            <td>Home Team | </td>
            <td>Away Team | </td>
            <td>Home Score | </td>
            <td>Away Score </td>
        </tr>
   <% @nfl.each do |team| %>
    <% if team["home_team"] == "Colts" || team["away_team"] == "Colts" %>
        <tr>
             <td><%= team["home_team"]%></td>
             <td><%= team["away_team"]%></td>
             <td><%= team["home_score"]%></td>
             <td><%= team["away_score"]%></td>
        </tr>
          <% end %>
        <% end %>
      </table>
      <img src="http://wallpines.com/wp-content/uploads/2014/01/indianapolis_colts_phelmet.jpg">
    </body>
    </div>
    </div>
  </html>
