

<!DOCTYPE html>
  <html lang="en">
  <div align="center">
 <div style= "font-family:sans-serif; background-color:#708090; color:#00008B">
    <head>
           <title>NFL</title>
    </head>

  <body link="#C0C0C0" vlink="#C0C0C0" alink="#191970">
            <img src="https://www.nflregionalcombines.com/Images/NFLShield.png">
            <p><font size="7"><a href=http://localhost:4567/leaderboard>LEADERBOARD</a></font></p>
            <img src="http://www.sports-logos-screensavers.com/user/NFL_Background_Helmets.jpg">
    </body>
   </div>
  </div>
</html>


