<!DOCTYPE html>
  <html lang="en">
  <div align="center">
  <div style= "font-family:sans-serif; background-color:#708090; color:#000000">

    <head>
           <title>Leaderboard</title>
    </head>

    <img src= "http://store51.com/pics/touchdown_bd_1000.jpg">

    <body link="#C0C0C0" vlink="#C0C0C0" alink="#FF7F50">
            <p><font size="7"><b><strong>LEADERBOARD</strong><b></font></p>
        <p>
      <a href=http://localhost:4567/teams/broncos><font size="4">BRONCOS | </font></a>
      <a href=http://localhost:4567/teams/colts><font size="4">COLTS | </font></a>
      <a href=http://localhost:4567/teams/patriots><font size="4">PATRIOTS | </font></a>
      <a href=http://localhost:4567/teams/steelers><font size="4">STEELERS </font></a>
      </p>

  <table>
         <tr>
            <td align="center"><font size = "4" color="#000000"><strong>HOME TEAM   •  </strong></font></td>
            <td align="center"><font size = "4" color="#000000"><strong>AWAY TEAM   • </strong></font></td>
            <td align="center"><font size = "4" color="#000000"><strong>HOME SCORES • </strong></font></td>
            <td align="center"><font size = "4" color="#000000"><strong>AWAY SCORES  </strong></font></td>
        </tr>
   <% @nfl.each do |team| %>
        <tr>

             <td align="center"><font color="#D3D3D3"><%= team["home_team"]%></font></td>
             <td align="center"><font color="#D3D3D3"><%= team["away_team"]%></font></td>
             <td align="center"><font color="#D3D3D3"><%= team["home_score"]%></font></td>
             <td align="center"><font color="#D3D3D3"><%= team["away_score"]%></font></td>
        </tr>
         <% end %>
      </table>


<p><font size="4" color="#000000"><strong> RANKINGS </strong></font></p>

<div style= "color:#D3D3D3">
    <p>
    <strong>WINS • </strong>
    Patriots: 3 •
    Broncos: 1 •
    Colts: 0 •
    Steelers: 0
    </p>

    <p>
    <strong>LOSSES •  </strong>
    Colts: 2 •
    Broncos: 1 •
    Steelers: 1 •
    Patriots: 0
    </p>
</div>
</body>
</div>
</div>
</html>
</body>
</div>
</div>
</html>
